{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-custom-element-classes",
        "transform-es2015-classes"
    ]
}